<form action="/add" method="POST">


    VIBRAÇÃO

    <select name="vibracao" id="vibra">
        <option value="">SELECIONE UMA OPÇÃO</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
    </select>


    <p> Alma</p>    <input type="text" name="alma">

    <p> Aparência</p>
   
    <select name="aparencia" id="ap">
        <option value="">SELECIONE  '</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="11/2">11/2</option>
        <option value="22/4">22/4</option>
    </select>

    <p> Destino</p>
    <input type="text" name="destino">

    <p> Lição de Vida</p>
    <input type="text" name="licao_vida">

    <p> Dia Natalicio</p>
    <input type="text" name="dia_natalicio">

    <p> Lições Carmicas</p>
    <select name="carmicaUm" id="car1">
        <option value="">SELECIONE </option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="16">16</option>
        <option value="19">19</option>
    
    </select>     
    <select name="carmicaDois" id="car2">
        <option value="">SELECIONE </option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="16">16</option>
        <option value="19">19</option>
    
    </select>
        <select name="carmicaTres" id="car3">
        <option value="">SELECIONE </option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="16">16</option>
        <option value="19">19</option>
    
    </select> 

    <p> Primeira Vogal</p>

        <select name="vogal" id="vog">
        <option value="">SELECIONE </option>
        <option value="A">A</option>
        <option value="E">E</option>
        <option value="I">I</option>
        <option value="O">O</option>
        <option value="U">U</option>
        <option value="Y">Y</option>
    </select>
 
    <br>
    <br>

<p>REALIZAÇÕES</p>

Dos <input name="realizacaoDt1" > aos <input name="realizacaoDt2"> Anos        
<select name="realizacaoUm" id="pd">
        <option value="">SELECIONE  '</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="11">11</option>
        <option value="22">22</option>
    </select>
    <br><br>
    Dos <input name="realizacaoDt3" > aos <input name="realizacaoDt4"> Anos 
        <select name="realizacaoDois" id="pd">
            <option value="">SELECIONE  '</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="11">11</option>
            <option value="22">22</option>
        </select>
        <br><br>
Dos <input name="realizacaoDt5" > aos <input name="realizacaoDt6"> Anos 
       <select name="realizacaoTres" id="pd">
            <option value="">SELECIONE  '</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="11">11</option>
            <option value="22">22</option>
        </select>
<br><br>
Dos <input name="realizacaoDt7" > em diante 

       <select name="realizacaoQuatro" id="pd">
            <option value="">SELECIONE  '</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="11">11</option>
            <option value="22">22</option>
        </select>
<br><br>

<p>DESAFIOS</p>

Dos <input name="desafioDt1" > aos <input name="desafioDt2"> Anos 

<select name="desafioUm" id="des1">
        <option value="">SELECIONE  '</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="0">0</option>
    </select>
<br><br>
Dos <input name="desafioDt3" > aos <input name="desafioDt4"> Anos 
<select name="desafioDois" id="des2">
        <option value="">SELECIONE  '</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="0">0</option>
    </select>
<br><br>
Dos <input name="desafioDt5" > aos <input name="desafioDt6"> Anos 
<select name="desafioTres" id="des3">
        <option value="">SELECIONE  '</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="0">0</option>
    </select>
<br><br>
Dos <input name="desafioDt7" > em diante 
<input type="text" name="desafioQuatro">
<br><br>


<br>
<br>

<p> CICLOS</p>
<p>
 1º Formativo : <select name="ciclo_formativo" id="pd">
        <option value="">SELECIONE  '</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="11">11</option>
        <option value="22">22</option>
    </select>
      0 à 28 Anos <br><br>
 2º Produtivo : <select name="ciclo_produtivo" id="pd">
        <option value="">SELECIONE  '</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="11">11</option>
        <option value="22">22</option>
    </select>
      29 à 56 Anos <br><br>
 3º Colheita  : <select name="ciclo_colheita" id="pd">
        <option value="">SELECIONE  '</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="11">11</option>
        <option value="22">22</option>
    </select>
       29 à 56 Anos <br><br>
</p>

<p> NÚMERO DO PODER</p>

        <select name="poder" id="pd">
        <option value=" ">SELECIONE UMA OPÇÃO</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="11/2">11/2</option>
    </select>

<p> ANO PESSOAL</p>
<input type="date" name="anoPessoalUm" id="ap1"> À <input type="date" name="anoPessoalDois" id="ap2"> : <input type="text" name="ano_pessoal">

<p>QUADRIMESTRE PESSOAL</p>

De <input type="date" name="quadrimestreDt1" > À <input type="date"  name="quadrimestreDt2"> quadrimestres <input type="text" name="quadrimestreUm"><br><br>
De <input type="date" name="quadrimestreDt3" > À  <input type="date"  name="quadrimestreDt4"> quadrimestres <input type="text" name="quadrimestreDois"><br><br>
De <input type="date" name="quadrimestreDt5" > À  <input type="date"  name="quadrimestreDt6"> quadrimestres <input type="text" name="quadrimestreTres"><br><br>


<p> TEMPERAMENTO</p>

<select name="temperamento" id="temp">
    <option value="">SELECIONE UMA OPÇÃO</option>
    <option value="Mental">Mental</option>
    <option value="Físico">Físico</option>
    <option value="Emocional">Emocional</option>
    <option value="Intuitivo">Intuitivo</option>
</select>



    <br >
    <br>
    <button type="submit"> Enviar</button>
</form>